extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name="add-estimation", action='/task',method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.input
            span.label Description
            textarea(name="desc", cols="40", rows="5")
        div.actions
            input(type="submit", value="task")
